If:
  PathMatch: ^/project/

CompileFlags:
  CompilationDatabase: build
  BuiltinHeaders: QueryDriver
  Add:
    - -include
    - /project/build/config/sdkconfig.h
  Remove:
    - -mlongcalls
    - -mfix-esp32-psram-cache-issue
    - -mfix-esp32-psram-cache-strategy
    - -mdisable-hardware-atomics